name: Java CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write   # konieczne do pushowania do GHCR
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin

      - name: Make Gradle Wrapper executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Run tests
        run: ./gradlew test

      # --- Docker build + push to GHCR ---

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE=ghcr.io/${{ github.repository }}:latest
          IMAGE_SHA=ghcr.io/${{ github.repository }}:${{ github.sha }}

          docker build -t $IMAGE -t $IMAGE_SHA .

          echo "IMAGE=$IMAGE" >> $GITHUB_ENV
          echo "IMAGE_SHA=$IMAGE_SHA" >> $GITHUB_ENV

      - name: Push Docker image
        run: |
          docker push $IMAGE
          docker push $IMAGE_SHA
